<footer class="footer">
    <div class="footer-container">
        <div class="top-navigation">
            <nav>
                <div class="footer-logos">
                    <img src="../../assets/icons/Logo1.png" alt="">
                    <img src="../../assets/icons/logo2.png" alt="">
                    <img src="../../assets/icons/rs_school.png" alt="">
                </div>

                <ul class="nav-to-pages">
                    <li>ABOUT</li>
                    <li>MAP</li>
                    <li>ZOOS</li>
                    <li>CONTACT US</li>
                </ul>

                <button>DONATE FOR VOLUNTEERS →</button>
            </nav>
        </div>
        <hr>
        <div class="bottom-navigation">
            <ul>
                <li>&copy; 2021 dinak</li>
                <li>&copy; Yem Digital</li>
                <li>&copy; RSSchool</li>
            </ul>
            <ul>
                <li><a href="https://www.youtube.com/@RSSchool" target="_blank"><img src="../../assets/icons/YouTube.png" alt="YouTube"></a></li>
                <li><a href="https://www.instagram.com/rsschool_en/" target="_blank"><img src="../../assets/icons/Instagram.png" alt="Instagram"></a></li>
                <li><a href="https://www.facebook.com/rsschoolEN" target="_blank"><img src="../../assets/icons/Facebook.png" alt="Facebook"></a></li>
            </ul>
        </div>
    </div>
</footer>