<header class="header">
  <div class="header-container">

    <a class="logo" href="../landing/index.html">
      <img src="../../assets/icons/Logo.png" alt="Online Zoo logo">
    </a>

    <div class="right-side" id="rightSide">
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="../../pages/landing/index.html" data-page="about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a href="../../pages/map/index.html" data-page="map">MAP</a>
          </li>
          <li class="nav-item">
            <a href="../../pages/zoos/index.html" data-page="zoos">ZOOS</a>
          </li>
          <li class="nav-item">
            <a href="../../pages/contact/" data-page="contact">CONTACT US</a>
          </li>
          <li class="nav-item">
            <a
              href="https://www.figma.com/design/nefOZWBmkTvDEsZ8VsamDy/Online-ZOO-Project--Copy---Copy-?node-id=382-338&m=dev"
              target="_blank"
              >DESIGN</a
            >
          </li>
        </ul>
      </nav>

      <ul class="socials">
        <li>
          <a href="https://www.youtube.com/@RSSchool" target="_blank"
            ><img src="../../assets/icons/YouTube.png" alt="YouTube"
          /></a>
        </li>
        <li>
          <a href="https://www.instagram.com/rsschool_en/" target="_blank"
            ><img src="../../assets/icons/Instagram.png" alt="Instagram"
          /></a>
        </li>
        <li>
          <a href="https://www.facebook.com/rsschoolEN" target="_blank"
            ><img src="../../assets/icons/Facebook.png" alt="Facebook"
          /></a>
        </li>
      </ul>

      <div class="user-icon-wrap" id="userIconWrap">
        <button class="user-btn" id="userBtn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
          >
            <circle cx="12" cy="8" r="4" />
            <path d="M4 20c0-4 3.6-7 8-7s8 3 8 7" />
          </svg>
          <span class="user-btn-name" id="userBtnName"></span>
        </button>

        <div class="user-popup" id="userPopup" hidden></div>
      </div>
    </div>

    <button class="hamburger" id="hamburgerBtn" aria-label="Toggle menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
